<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ 'Edit Task' if is_edit else 'Add Task' }}</title>
  </head>
  <body>
    <h1>{{ 'Edit Task' if is_edit else 'Add a New Task' }}</h1>
    <form method="POST">
      {{ form.hidden_tag() }}
      <p>
        {{ form.name.label }}<br />
        {{ form.name(size=32) }}
      </p>
      <p>
        {{ form.priority.label }}<br />
        {{ form.priority() }}
      </p>
      <p>
        {{ form.due_date.label }}<br />
        {{ form.due_date(type="date") }}
        <!-- HTML5 date input -->
      </p>
      <p>
        {{ form.description.label }}<br />
        {{ form.description(size=64) }}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  </body>
</html>
