<div class="container">
  <footer class="mt-5 footer py-3 bg-light">
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <a href="{{ url_for('index') }}" class="text-secondary">Home</a>
      </li>
      <li class="list-inline-item">
        <a href="{{ url_for('add_task') }}" class="text-secondary">Add Task</a>
      </li>
    </ul>
    <p class="text-center text-secondary mt-3">&copy; {{ year }} Taskmaster 9000</p>
  </footer>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
</body>
</html>
